/* file: src/MyComponent.css */
.title {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 1rem;
    position: relative;
    line-height: 40px ;
  }

  .title::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #28a745;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
   
  .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  p{
    text-align: justify;
  }

  .title1{
    font-size: 16px;
    font-weight: bold;
    color: #19762e;
  }